body {
	background: url(background.jpg) no-repeat;
}
table {
	font-family: inherit;
	border-collapse: collapse;
	width: 50%
}
th,td {
	border: 1px solid #336699;
	text-align: left;
	padding: 5px
}
tr:nth-child(odd) {
	background-color: #8cb3d9
}
div > p {
	font-family: 'Lucida Bright';
	text-align: justify;
	margin: 10px 250px 10px 250px
}
h1 {font-family: unset;
	color: white;
	text-align: center;
}
h2 {font-family: sans-serif;
	color: #006080;
	text-align: center;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 10px;
}
.sticky {
	position: sticky;
	top: 0;
	background-color: #336699
}
